<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/style.css') }}"> 
    <title>Home</title>
</head>
<body>
    <h1> Register Your Attendance </h1>
    <video id = 'photo' autoplay width="600" height="500"> </video> <br>
    <p> Please focus your face towards the camera and click on the Punch button to register your Attendance </p>
    <button id = 'capture_button'> Punch </button> <br>
    <canvas id = 'display' width = "600" height="500"> </canvas>
   <script src = "{{ url_for('static', filename = 'js/index.js') }}"> </script>
</body>
</html>